.background{
    -fx-background-color: #1E1E1E;
}

.background-tile{
    -fx-background-color: #323234;
    -fx-background-radius: 4;
}

.header{
    -fx-font-family: 'Sora Bold';
    -fx-text-fill: #ffffff;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.subheader {
    -fx-font-family: 'Sora Bold';
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.suhlabel {
    -fx-font-family: 'Sora Bold';
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.sudlabel {
    -fx-font-family: 'Sora Bold';
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 0 5 0 5;
}

.sub-label {
    -fx-font-family: 'Sora Bold';
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 0 5 0 0;
}

.HBOX-StoreCredits {
    -fx-border-color: #ffffff;
    -fx-border-radius: 15;
}

.Remove-Button {
    -fx-background-color: #323234;
    -fx-text-fill: #ffffff;
}


.CheckOut-Button {
    -fx-background-color: #9747FF;
    -fx-font-family: 'Sora Bold';
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
}

/* Style for the ScrollPane */
.scroll-pane {
    -fx-background-color: #1E1E1E; /* Background color of the ScrollPane */
}

/* Style for the ScrollPane content */
.scroll-pane .viewport {
    -fx-background-color: #1E1E1E; /* Background color of the content area */
}

/* Style for the vertical scroll bar */
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #1E1E1E; /* Background color of the vertical scrollbar */
}

/* Style for the horizontal scroll bar */
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #1E1E1E; /* Background color of the horizontal scrollbar */
}

/* Style for the scrollbar thumb */
.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #282C44; /* Thumb color (the draggable part of the scrollbar) */
}

/* Style for the scrollbar track */
.scroll-pane .scroll-bar .track {
    -fx-background-color: #1E1E1E; /* Background color of the TextArea */
    -fx-border-color: #1E1E1E;      /* Border color */
    -fx-border-width: 1;             /* Border thickness */
    -fx-border-style: solid;
}