.StorePage-Background {
    -fx-background-color: #181819;
}

.GameTitle-Label {
    -fx-text-fill: #FEFEFE;
    -fx-font-family: 'Sora Bold';
    -fx-font-size: 36px;
    -fx-font-weight: bold; /* Ensures the text is bold */
}

.GameSubTitle-Label {
    -fx-text-fill: #FEFEFE;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 14px;
}

.GameDescription-Label {
    -fx-text-fill: #FEFEFE;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 16px;
}

.GameGenre-Label {
    -fx-text-fill: #A5A5AA;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 14px;
    -fx-padding: 0 5 0 5;
    -fx-font-weight: bold;
}

.GameTransactionPrice-Label {
    -fx-text-fill: #FEFEFE;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 16px;
    -fx-padding: 0 5 0 5;
}

.GameTransactionBuyNow-Pane {
    -fx-background-color: #9747FF;
}

.GameTransactionBuyNow-Label {
    -fx-text-fill: #FEFEFE;
    -fx-font-family: 'Sora Bold';
    -fx-font-size: 20px;
    -fx-font-weight: bold; /* Ensures the text is bold */
}

.GameTransactionAddToCart-Pane {
    -fx-background-color: #383737;
}

.GameTransactionAddToCart-Label {
    -fx-text-fill: #FEFEFE;
    -fx-font-family: 'Sora Bold';
    -fx-font-size: 20px;
    -fx-font-weight: bold; /* Ensures the text is bold */
}

@font-face {
    -font-family: 'Sora Bold';
    src: url(Fonts/Sora-Bold.ttf);
}

@font-face {
    -font-family: 'Sora Regular';
    src: url('Fonts/Sora-Regular.ttf')
}

.genrePanel{
    -fx-background-color: #383737;
    -fx-border-radius: 2px;
}

.genreLabel{
    -font-family: 'Sora Bold';
    -fx-font-size: 12;
    -fx-text-fill: #FEFEFE;
}