.LeftNagivationBar {
    -fx-background-color: #050106 ;
}

.TopNavigationBar {
    -fx-background-color: #050106 ;
}

.MainContent {
    -fx-background-color: #181819;
}

.LNB_SelectionText {
    -fx-text-fill: #C8C8C8;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 16px;
}

.LNB_SelectionHBox:hover {
    -fx-background-color: #383737;
    -fx-background-radius: 7 7 7 7;
}

.LNB_SelectionHBoxHighlighted {
    -fx-background-color: #383737;
    -fx-background-radius: 7 7 7 7;
}

.LNB_Logout:hover{
    -fx-background-color: #e32f2f;
    -fx-background-radius: 7 7 7 7;
}

.LNB_Logout:hover .label{
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 16px;
}

.LNB_LogoutLabel {
    -fx-text-fill: #A5A5AA;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 16px;
}

.TNB_SearchBar {
    -fx-background-color: #181819;
    -fx-background-radius: 13;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 13;
}

.TNB_SearchBar-TF {
    -fx-background-color: #181819;
    -fx-text-fill: #A5A5AA;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 12px;
    -fx-background-radius: 13;
}

.TNB_Selection-Button {
    -fx-text-fill: #A5A5AA;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 16px;
}

.TNB_Selection-Button-Bold {
    -fx-text-fill: #A5A5AA;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 16px;
}

.TNB_Selection-Button:hover {
    -fx-text-fill: #D7D3D3;
}

.TNB_Selection-Button-Bold:hover {
    -fx-text-fill: #D7D3D3;
}

.TNB_UserAccount-Button {
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
}

.TNB_UserAccount-Button:hover {
    -fx-text-fill: #A5A5AA;
}

.menu-button {
    -fx-font-family: 'Sora Regular';            /* Font family */
    -fx-font-size: 17px;                 /* Font size */
    -fx-font-weight: bold;               /* Font weight */
    -fx-background-color: #050106;       /* Background color */
    -fx-text-fill: #ffffff;              /* Text color */
}

.menu-button .context-menu {
    -fx-translate-x: -130px; /* Adjust the value to shift the menu left */
    -fx-background-color: #1D1B1D;
    -fx-text-fill: #ffffff;
}

.menu-button .context-menu .menu-item{
    -fx-background-color: transparent; /* Transparent background by default */
    -fx-padding: 8 15 8 15;            /* Add padding for readability */
    -fx-font-family: 'Sora Regular';          /* Set font family */
    -fx-font-size: 14px;               /* Set font size */
    -fx-text-fill: #ffffff;
}

.menu-button .arrow {
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.menu-button .context-menu .menu-item:hover {
    -fx-background-color: #333333; /* Darker background on hover */
    -fx-text-fill: #ffffff;        /* Ensure the text stays white */
}

.menu-button .context-menu .menu-item .label {
    -fx-text-fill: #ffffff;        /* Ensure the label text stays white */
}

.Label-MenuItem {
    -fx-padding: 5 15 5 15;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Sora Regular';
    -fx-font-size: 14px;
}

.separator-MenuItem {
    -fx-padding: 5 15 5 15;
}


@font-face {
    -font-family: 'Sora Regular';
    src: url('Fonts/Sora-Regular.ttf')
}