.Background {
    -fx-background-color:  #181819;
}
.signup{
    -fx-font-family: 'Sora Bold';
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.text1{
    -fx-font-family: 'Sora';
    -fx-font-size: 12 px;
}
.subtext{
    -fx-font-family: 'Sora';
    -fx-font-size: 16 px;
    -fx-text-fill: #FFFFFF;


}
.Button{
    -fx-font-family: 'Sora Bold';
    -fx-font-size: 14px;
    -fx-background-color:  #9747FF;
    -fx-background-radius: 2.59;
    -fx-font-weight: bold;
}
.Line{
    -fx-fill: #2C2C2E;
}
.register{
    -fx-background-color:  #2C2C2E;
    -fx-background-radius: 2.59;
}

.field{
    -fx-background-radius: 2;
    -fx-background-color:  #181819;
    -fx-border-color:  #FFFFFF;
    -fx-text-fill: #FFFFFF;
}

.error{
    -fx-font-family: 'Sora Bold';
    -fx-font-size: 14px;
    -fx-background-color:  #FF3B3B;
    -fx-background-radius: 2.59;
    -fx-font-weight: bold;
}